.github/CODEOWNERS                        @primer-io/checkout-pci-reviewers
.github/workflows                         @primer-io/checkout-pci-reviewers

/PrimerKlarnaSDK/Classes/version.swift    @primer-io/checkout-pci-reviewers
PrimerKlarnaSDK.podspec                   @primer-io/checkout-pci-reviewers
